$font-family: 'Roboto Slab', serif;
$color-main-background: #f5f7f8;
$color-white: white;
$color-black: rgb(59, 59, 59);
$color-grey-light: rgb(102, 102, 102);
$color-grey-dark: rgb(53, 53, 53);
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$card-bg-color: azure;
$color-grey-transparent: rgba(63, 63, 63, 0.212);
$color-green-light: #4ecdc4;
