@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

html,
body {
  background-color: $color-main-background;
  #app {
    font-family: $font-family;
    font-weight: bold;
    color: $color-black;
    h4 {
      color: $color-black;
      margin-top: 5px;
      margin-bottom: 15px;
    }
    h6 {
      color: $color-grey-light;
      margin-bottom: 10px;
    }
    p {
      font-size: 12px;
      color: $color-grey-dark;
      font-weight: normal;
    }
    span {
      font-size: 10px;
    }
  }
}
