:export {
  FONT_FAMILY: $font-family;
  COLOR_MAIN_BACKGROUND: $color-main-background;
  COLOR_WHITE: $color-white;
  COLOR_BLACK: $color-black;
  COLOR_GREY: $color-grey-light;
  COLOR_GREY_DARK: $color-grey-dark;
  BOX_SHADOW: $box-shadow;
  CARD_BG_COLOR: $card-bg-color;
  COLOR_GREY_TRANSPARENT: $color-grey-transparent;
  COLOR_GREEN_LIGHT: $color-green-light;

  // POKÉMON EFFECTIVENESS COLORS

  COLOR_NOT_VERY_EFFECTIVE: $color-not-very-effective;
  COLOR_NO_EFFECT: $color-no-effect;
  COLOR_NORMAL: $color-normal;
  COLOR_SUPER_EFFECTIVE: $color-super-effective;
}
