:export {
  FONT_FAMILY: $font-family;
  COLOR_MAIN_BACKGROUND: $color-main-background;
  COLOR_WHITE: $color-white;
  COLOR_BLACK: $color-black;
  COLOR_GREY: $color-grey-light;
  COLOR_GREY_DARK: $color-grey-dark;
  BOX_SHADOW: $box-shadow;
  CARD_BG_COLOR: $card-bg-color;
  COLOR_GREY_TRANSPARENT: $color-grey-transparent;
  COLOR_GREEN_LIGHT: $color-green-light;
}
