$color-main-background: #f5f7f8;
$color-white: white;
$color-black: rgb(59, 59, 59);
$color-grey-light: rgb(102, 102, 102);
$color-grey-dark: rgb(53, 53, 53);
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

html,
body {
  background-color: $color-main-background;
  #app {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $color-black;
    h4 {
      color: $color-grey-light;
      margin-bottom: 10px;
    }
    h2 {
      color: $color-black;
      margin-top: 5px;
      margin-bottom: 15px;
    }
    p {
      color: $color-grey-dark;
      font-weight: normal;
      font-size: 16px;
    }
  }
}
